:root {
    --iris: #4D5AE5;
    --white: #FFFFFF;
    --navy: #2E2F42;
    --slate: #434455;
    --cloud: #F4F4FD;
    --ocean: #404BBF;
    --lightslate: #8E8F99;
    --grey: #2e2f42;
}

/*GENERAL STYLING*/
body {
    font-family: "Roboto", sans-serif;
}

.list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 24px;
    justify-content: center;
}
/*END OF GENERAL STYLING*/

/*HEADER AND FOOTER STYLING*/
.bg-dark {
    background-color: var(--navy);
}

.logo {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logoweb {
    color: var(--iris);
}

.link {
    text-decoration: none;
}

/*END OF HEADER AND FOOTER STYLING*/

/*HEADER STYLING*/
.logostudio {
    color: var(--navy);
}

.link {
    color: var(--navy);
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
}

.link:hover,
.link:focus {
    color: var(--ocean);
}

.active {
    color: var(--ocean);
}

.active::after {
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--iris);
    position: relative;
    top: 16px;
}

.list-contacts {
    list-style: none;
    display: flex;
    align-items: center;
    justify-self: space-around;
    gap: 40px;
}

.contact-link {
    color: var(--slate);
    line-height: 1.5;
    letter-spacing: 0.32px;

}

.container {
    width: 1440px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-around;
}

.topline-flex {
    display: flex;
    align-items: center;
    gap: 40px;
}

.topline-link {
    display: flex;
    gap: 40px;
}

/*END OF HEADER STYLING*/

/*HERO SECTION STYLING*/
.hero {
    background: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url(../images/people.ofice1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-text {
    color: var(--white);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 1.12px;
    text-transform: uppercase;
}

.hero-button {
    background: var(--iris);
    border: none;
    border-radius: 4px;
    color: var(--white);
    padding: 16px 32px;
    text-align: center;
}

.hero-button:hover {
    cursor: pointer;
    background: var(--ocean);
}

.modal {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.ata-modal {
    background-color: var(--white);
    width: 408px;
    height: 584px;
}

.is-hidden {
    visibility: hidden;
}
/*END OF HERO SECTION STYLING*/

/*Main Styling*/
.main-title {
    color: var(--navy);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 2.5;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

/*ABOUT SECTION STYLING*/
.about-icon {
    padding: 24px 100px;
    text-align: center;
    background-color: var(--cloud);
}
/*END OF ABOUT SECTION STYLING*/

/*TEAM SECTION STYLING*/
.our-team {
    background-color: var(--cloud);
}

.our-team img {
    display: block;
}

.p-text {
    color: var(--navy);
    font-size: 16px;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

.h-title {
    color: var(--navy);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;/* 120% */
    letter-spacing: 0.4px;
    margin-top: 0px;
}

.team-title {
    background-color: var(--white);
    text-align: center;
    margin-top: 0px;
    padding: 32px 0px;
}

.team-title-socials {
    display: flex;
    justify-content: space-around;
}

.team-title-socials-icons {
    background-color: var(--iris);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--white);
    
}
/*END OF TEAM SECTION STYLING*/
/*END OF MAIN STYLING*/

/*CUSTOMERS STYLING*/
.customers-icons {
    border: 1px solid;
    color:var(--lightslate);
    padding: 16px 32px;
}

.customers-icons svg {
    fill: var(--lightslate);
}

.customers-icons:hover, 
.customers-icons:focus {
    border-color: var(--iris);
}

.customers-icons:hover svg, 
.customers-icons:focus svg {
    fill: var(--iris);
}
/*END OF CUSTOMERS STYLING*/

/*FOOTER STYLNG*/
.logostudio-footer {
    color: var(--cloud);
    height: 312px;
}

.footer-logo-text {
    margin: 101.5px ;
}
.footer-text {
    color: var(--cloud);
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.footer-logo-text {
    margin-top: 101.5px;
    width: 540px;
    margin: 101.5px, 189.5px;

}

.background {
    background: var(--navy);
}

.socialmedia {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;/* 150% */
    letter-spacing: 0.32px;
    width: 804px;
    flex-shrink: 0;
    margin-top: 150px;
}

.socialmedia-icons {
    display: inline-flex;
    align-items: flex-start;
    justify-items: center; 
    margin-bottom: 189.5px;
    gap: 16px;
    
}

/*END OF FOOTER STYLNG*/

